<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/static/fonts/social-networking/css/fontello.css">

<script src='static/js/google-linking.js'></script>
<script src="https://apis.google.com/js/api:client.js"></script>

<div class="well">
  <div class="row">

    <div class="col-md-6">
      <div  id="account-details" class="panel panel-info">
        <div class="panel-heading">
          <div>
            <u class="h4">Account Details</u>

            <button type="button" class="link-button" onclick="edit();">[Edit]</button>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group">
            {{#if user.username}}
              <div>
                Username<input id="usernameedit" type="text" value="{{user.username}}" readonly class="form-control">
              </div>
            {{/if}}
            {{#if user.username}}{{#if user.email}}<br>{{/if}}{{/if}}
            {{#if user.email}}
              <div>
                Email<input id="emailedit" type="text" value="{{user.email}}" readonly class="form-control">
              </div><br>
            {{/if}}

            Password
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading panel-title password-status">
                    {{#if user.password}}
                      You have a password set on your account
                    {{else}}
                      Your account currently has no password
                    {{/if}}
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="form-group" id="password-update-container">
                      {{#if user.password}}
                        <div>Current password <input id="current-password-edit" type="password" class="form-control password-update"></div>
                        <br>
                      {{/if}}
                      <div>New password <input id="new-password-edit" type="password" class="form-control password-update"></div>
                      <br>
                      <div>Confirm new password <input id="confirm-password-edit" type="password" class="form-control password-update"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <button type="button" class="btn btn-default form-submission" onclick="updateAccount();" disabled style="padding-right: 10px">Submit</button>
              <button type="button" class="btn btn-default form-submission" onclick="cancelUpdate();" disabled>Cancel</button>
            </div>
            <div id="message-container">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div id="facebook-details" class="panel panel-info">
        <div class="panel-heading">
          <div><u class="h4">Social Networking</u></div>
        </div>
        <div class="panel-body">
          <input type="text" style="display: none" id="facebook-id" name="facebookId" value="">
          <div class="col-md-6">

            <div class="well" id="link-facebook">
              {{#if user.oauth.facebook.id}}
                <div class="center-outer"><div class="center-inner"><label>Linked with Facebook</label></div></div>
                <div class="center-outer"><div class="center-inner"><button type='button' onclick='unlink(preUnlink);' class='link-button'>(Unlink)</button></div></div>
                <div class="center-outer"><div class="center-inner"><img width="100" height="100" class="photo-border facebook-border-color" src='{{user.oauth.facebook.photoUrl}}'></div></div>
                <div class="center-outer"><div class="center-inner">{{user.oauth.facebook.name}}</div></div>
              {{else}}
                <div class="center-outer">
                  <div class="center-inner">
                    <button id="fb-link-button" type="button" class="btn social-login-btn facebook-bg-color" onclick="link(preLink);">
                      <span class="btn-icon icon-facebook"></span>
                      <span class="separator"></span>
                      <span class="social-btn-text">Link to Facebook</span>
                    </button>
                  </div>
                </div>
              {{/if}}
            </div>
            <div id="fb-message-container"></div>
          </div>
          <div class="col-md-6">
            {{#if user.oauth.google.id}}
              <script>
                const redirectGoogleId = "{{user.oauth.google.id}}" || null;
                const redirectGooglePhotoUrl = "{{user.oauth.google.photoUrl}}" || null;
                const redirectGoogleName = "{{user.oauth.google.name}}" || null;
              </script>
            {{/if}}
            <div id="link-google" class="well" autosubmit></div>
            <div id="google-message-container"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<script src='static/js/fb-linking.js'></script>
<script src='static/js/account.js'></script>
