<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="static/js/register.js"></script>
<script src='static/js/fb-linking.js'></script>
<script src='static/js/google-linking.js'></script>
<link rel="stylesheet" type="text/css" href="/static/fonts/social-networking/css/fontello.css">
 <script src="https://apis.google.com/js/api:client.js"></script>

<h2 class="page-header">Register</h2>
<div class="well">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Username</label>
        <input id="username" type="text" class="form-control" placeholder="Required">
      </div>
       <div class="form-group">
        <label>Email</label>
        <input id="email" type="email" class="form-control" placeholder="Required" value="{{email}}">
      </div>
      <input type="text" style="display: none" id="facebook-id" value={{facebookId}}>
      <input type="text" style="display: none" id="facebook-name" value={{facebookName}}>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" id="passwordConfirm">
      </div>
    </div>

    <div class="col-md-3">
        <div id="link-facebook" class="well">
          {{#if facebookId}}
            <div id="linked-inner">
              <div class="center-outer"><div class="center-inner"><label>Linked with Facebook</label></div></div>
              <div class="center-outer"><div class="center-inner"><button type='button' onclick='unlink();' class='link-button'>(Unlink)</button></div></div>
              <br>
              <div class="center-outer"><div class="center-inner"><img class="photo-border facebook-border-color" height="100" width="100" src='{{facebookPhotoUrl}}'></div></div>
              <br>
              <div class="center-outer"><div class="center-inner">{{facebookName}}</div></div>
            </div>
          {{else}}
            <div class="center-outer">
              <div class="center-inner">
                <button id="fb-link-button" type="button" class="btn social-login-btn facebook-bg-color" onclick="link();">
                  <span class="btn-icon icon-facebook"></span>
                  <span class="separator"></span>
                  <span class="social-btn-text">Link to Facebook</span>
                </button>
              </div>
            </div>
          {{/if}}
        </div>
      <script>const facebookName = "{{facebookName}}" || null;</script>
    </div>
    <div class="col-md-3">
      <div class="center-outer well">
        <div class="center-inner">
          <div id="link-google"></div>
        </div>
      </div>
      <script>const redirectGoogleId = "{{googleId}}" || null;const redirectGooglePhotoUrl = "{{googlePhotoUrl}}" || null;const redirectGoogleName = "{{googleName}}" || null;</script>
    </div>
  </div>

  <div class="row">
    <div class="center-outer">
      <div class="center-inner">
        <div class="g-recaptcha" data-sitekey="6LdzWA4UAAAAAHphgDN89j27t3QsAivJygP6h9BF"></div>
      </div>
    </div>
  </div>
</div>
<div class="center-outer">
  <div class="center-inner">
    <button type="button" class="btn btn-default" onclick="register();">Submit</button>
  </div>
</div>
<div class="center-outer">
  <div class="center-inner">
    <div id="status"></div>
  </div>
</div>

<style>

.social-login-btn {
  margin-top: 50px;
  margin-bottom: 50px;
}

</style>
